absl-py
accelerate
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
arrow
asttokens
async-timeout
attrs
av
awscli
backoff
bcrypt
beautifulsoup4
black
blessed
boto3
botocore
braceexpand
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
comm
contourpy
croniter
cryptography
cycler
Cython
dateutils
debugpy
decorator
deepdiff
deepspeed
diffusers
docutils
einops
exceptiongroup
executing
fastapi
filelock
flatbuffers
fonttools
frozenlist
fsspec
ftfy
google-auth
google-auth-oauthlib
grpcio
h11
hf_transfer
hjson
huggingface-hub
humanfriendly
idna
imageio
imageio-ffmpeg
importlib-metadata
inquirer
ipykernel
ipython
jedi
Jinja2
jmespath
jupyter_client
jupyter_core
kiwisolver
lightning
lightning-app
lightning-cloud
lightning-utilities
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
megfile
mpmath
msgpack
multidict
mypy-extensions
nest-asyncio
networkx
ninja
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
omegaconf
onnxruntime
open-clip-torch
opencv-python
opencv-python-headless
ordered-set
packaging
paramiko
parso
pathspec
pexpect
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
Pygments
PyJWT
PyNaCl
pynvml
pyparsing
python-dateutil
python-editor
python-multipart
pytorch-lightning
pytz
PyYAML
pyzmq
readchar
regex
requests
requests-oauthlib
rich
rsa
s3transfer
safetensors
scipy
sentencepiece
six
sniffio
soupsieve
stack-data
starlette
sympy
tensorboard
tensorboard-data-server
timm
tokenizers
tomli
torch @https://download.pytorch.org/whl/cu118/torch-2.1.2%2Bcu118-cp310-cp310-linux_x86_64.whl
torchmetrics
torchvision @https://download.pytorch.org/whl/cu118/torchvision-0.16.2%2Bcu118-cp310-cp310-linux_x86_64.whl
tornado
tqdm
traitlets
transformers
triton
types-python-dateutil
typing_extensions
urllib3
uvicorn
wcwidth
webdataset
websocket-client
websockets
Werkzeug
yarl
zipp
