absl-py
accelerate
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
asttokens
async-timeout
attrs
av
awscli
bcrypt
black
boto3
botocore
braceexpand
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
Cython
debugpy
decorator
deepspeed
diffusers
docutils
einops
exceptiongroup
executing
filelock
fonttools
frozenlist
fsspec
ftfy
google-auth
google-auth-oauthlib
grpcio
hf_transfer
hjson
huggingface-hub
idna
imageio
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jmespath
jupyter_client
jupyter_core
kiwisolver
lightning
lightning-utilities
Markdown
MarkupSafe
matplotlib
matplotlib-inline
megfile
mpmath
msgpack
multidict
mypy-extensions
nest-asyncio
networkx
ninja
numpy
# nvidia-cublas-cu12
# nvidia-cuda-cupti-cu12
# nvidia-cuda-nvrtc-cu12
# nvidia-cuda-runtime-cu12
# nvidia-cudnn-cu12
# nvidia-cufft-cu12
# nvidia-curand-cu12
# nvidia-cusolver-cu12
# nvidia-cusparse-cu12
# nvidia-nccl-cu12
# nvidia-nvjitlink-cu12
# nvidia-nvtx-cu12
oauthlib
omegaconf
open-clip-torch
opencv-python
packaging
paramiko
parso
pathspec
pexpect
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
Pygments
PyNaCl
pynvml
pyparsing
python-dateutil
pytorch-lightning
PyYAML
pyzmq
regex
requests
requests-oauthlib
rsa
s3transfer
safetensors
scipy
sentencepiece
six
stack-data
sympy
tensorboard
tensorboard-data-server
timm
tokenizers
tomli
torch @https://download.pytorch.org/whl/cu118/torch-2.1.2%2Bcu118-cp310-cp310-linux_x86_64.whl
torchmetrics
torchvision @https://download.pytorch.org/whl/cu118/torchvision-0.16.2%2Bcu118-cp310-cp310-linux_x86_64.whl
tornado
tqdm
traitlets
transformers
triton
typing_extensions
urllib3
wcwidth
webdataset
Werkzeug
yarl
zipp
